@model IEnumerable<EventSpaceFinder.Prostor>
@using System.Linq

@{
    ViewBag.Title = "Prostori";
}

<h2>Prostori</h2>

@using (Html.BeginForm("Index", "Prostori", FormMethod.Get))
{
    <div class="form-group">
        <label>Brza pretraga</label>
        <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Pretraži po nazivu, gradu, adresi..." value="@ViewBag.Search" />
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">Pretraži</button>
            </span>
        </div>
    </div>
}

@if (Session["uloga"] != null && Session["uloga"].ToString() == "Admin")
{
    <p>
        @Html.ActionLink("Dodaj novi prostor", "Create", null, new { @class = "btn btn-success" })
    </p>
}

<table class="table">
    <tr>
        <th>Slika</th>
        <th>Naziv</th>
        <th>Opis</th>
        <th>Adresa</th>
        <th>Kapacitet</th>
        <th>Osnovna cijena</th>
        <th>Tip prostora</th>
        <th>Grad</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var glavnaSlika = item.SlikaProstoras.FirstOrDefault(s => s.glavna_slika == true);



        <tr>
            <td>
                @if (glavnaSlika != null)
                {
                    <img src="@glavnaSlika.putanja_slike" style="width:120px; height:80px; object-fit:cover;" />
                }
                else
                {
                    <span>Nema slike</span>
                }
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.naziv)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.opis)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.adresa)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.kapacitet)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.osnovna_cijena)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.tip_prostora)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Grad.naziv_grada)
            </td>

            <td>
                @Html.ActionLink("Detalji", "Details", new { id = item.id_prostora }, new { @class = "btn btn-info btn-sm" })

                @if (Session["uloga"] != null && Session["uloga"].ToString() == "Admin")
                {
                    @Html.ActionLink("Izmijeni", "Edit", new { id = item.id_prostora }, new { @class = "btn btn-warning btn-sm" })
                    @Html.ActionLink("Obriši", "Delete", new { id = item.id_prostora }, new { @class = "btn btn-danger btn-sm" })
                }
            </td>
        </tr>
    }
</table>